<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Welcome to Volcano</title>
</head>
<div class="col-lg-12" layout:fragment="pageHeader">
    <h1 class="page-header">
        BUS
    </h1>
    <ol class="breadcrumb">
        <li>
                    <i class="fa fa-dashboard"></i> <a th:href="@{/bus/list}">List bus</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Add new
                </li>
            </ol>
        </div>
    <!-- /.row -->
    <div class="row">
        <div th:if="${mss!=null}" class="alert alert-danger">
            <span th:text="${mss}">Message</span>
        </div>
        <div class="col-lg-12" layout:fragment="content">
            <div th:if="${messages eq 'unsuccess'}">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <strong>Error!</strong> Data Not Saved.
                </div>
            </div>
            <div th:if="${messages eq 'success'}">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>Success!</strong> Data Saved Successfully.
                </div>
            </div>
            <form th:object="${bus}" th:action="@{/bus/save}" action="#" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-xs-2 control-label" for="plaque">Plaque</label>
                    <div class="col-xs-6">
                        <input type="text" id="plaque" class="form-control" th:field="*{plaque}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label" for="seats">Seats</label>
                    <div class="col-xs-6">
                        <input type="number" th:field="*{seats}" class="form-control" placeholder="seats" id="seats"/>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-xs-6">
                        <input type="submit" class="btn btn-default" value="Save"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</html>
