<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Welcome to Volcano</title>
</head>
<div class="col-lg-12" layout:fragment="pageHeader">
    <h1 class="page-header">
        ZONE
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a href="">List Ligne</a>
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Add new
        </li>
    </ol>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <form th:object="${ligne}" th:action="@{/ligne/save}" action="#" method="post" class="form-horizontal" role="form">
            <div style="display: none">
                <input type="text" th:field="*{idLigne}" class="form-control" placeholder="idLigne"/>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="fromDestination">From</label>
                <div class="col-xs-6">
                    <input type="text" id="fromDestination" class="form-control" th:field="*{fromDestination}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="to">To</label>
                <div class="col-xs-6">
                    <input type="text" th:field="*{toDestination}" class="form-control" placeholder="to" id="to"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="price">Price</label>
                <div class="col-xs-6">
                    <input type="number" th:field="*{price}" class="form-control" placeholder="price" id="price"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="timeLength">TimeLenght</label>
                <div class="col-xs-6">
                    <input type="number" th:field="*{timeLength}" class="form-control" placeholder="timeLength" id="timeLength"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="bus">Bus</label>
                <div class="col-xs-6">
                    <th:block th:each="b : ${buses}" >

                        <div class="col-xs-6">
                            <td th:text="${b.plaque}"></td>
                                <td><input type="checkbox" th:field="*{assignedBus}" th:value="${b.idBus}" id="bus"/></td>

                        </div>
                    </th:block>
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                </div>
            </div>

        </form>
    </div>

</div>

</html>
