<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main">
<head>
    <title>Welcome to Volcano</title>
</head>
<div class="col-lg-12" layout:fragment="pageHeader">
    <h1 class="page-header">
        RESERVATION
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a href="">List Reservation</a>
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Add new
        </li>
    </ol>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <form th:object="${reservation}" th:action="@{/reservation/save}" action="#" method="post" class="form-horizontal" role="form">
            <div style="display: none">
                <input type="text" th:field="*{id}" class="form-control" placeholder="id"/>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="customer">Customer</label>
                <div class="col-xs-6">
                    <select id="customer" th:field="*{customer}" class="form-control">
                        <option value="" text="----Choose Customer----"></option>
                        <option th:each="l : ${customers}" th:value="${l.id}"  th:text="${l.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label" for="date">Date</label>
                <div class="col-xs-6">
                    <input type="date" id="date" class="form-control" th:field="*{date}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="time">Time</label>
                <div class="col-xs-6">
                    <input type="time" th:field="*{time}" class="form-control" placeholder="time" id="time"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="ligne">Ligne</label>
                <div class="col-xs-6">
                    <input type="ligne" th:field="*{ligne}" class="form-control" placeholder="ligne" id="ligne"/>
                </div>
            </div>
            <div class="form-group">

                <div class="col-xs-6">
                    <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                </div>
            </div>

        </form>
    </div>

</div>

</html>
