<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main"><head>
    <meta charset="UTF-8"/>
    <title>>Welcome to Volcano</title>
</head>
<div class="col-lg-12" layout:fragment="pageHeader">
    <h1 class="page-header">
        USERS
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-dashboard"></i> <a th:href="@{/users/list}">List User</a>
        </li>
        <li class="active">
            <i class="fa fa-edit"></i> Add new
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12" layout:fragment="content">
        <div th:if="${messages eq 'unsuccess'}">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Error!</strong> Data Not Saved.
            </div>
        </div>
        <div th:if="${messages eq 'success'}">
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>Success!</strong> Data Saved Successfully.
            </div>
        </div>
        <form th:object="${user}" th:action="@{/user/save}" action="#" method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-xs-2 control-label" for="firstName">FirstName</label>
                <div class="col-xs-6">
                    <input type="text" id="firstName" class="form-control" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="lastName">LastName</label>
                <div class="col-xs-6">
                    <input type="text" id="lastName" class="form-control" th:field="*{lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="username">Username</label>
                <div class="col-xs-6">
                    <input type="text" id="username" class="form-control" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="password">Password</label>
                <div class="col-xs-6">
                    <input type="password" th:field="*{password}" class="form-control" placeholder="password" id="password"/>
                </div>
            </div>
            <div style="clear:both; display:block;height:10px;"></div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="role">Roles</label>
                <div class="col-xs-6">
                    <select id="role" th:field="*{role}" class="form-control">
                        <option value="" text="----Choose Roles----"></option>
                        <option th:each="t : ${T(rw.viden.volcanoproject.ticketing.model.Role).values()}" th:value="${t}"  th:text="${t}"></option>
                        <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Name Error</div>
                    </select>
                </div>
            </div>
            <div style="clear:both; display:block;height:10px;"></div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="enabled">Enabled</label>
                <div class="col-xs-6">
                    <input id="enabled" type="checkbox" th:field="*{enabled}" class="form-control"/>
                </div>
            </div>

            <div class="form-group">

                <div class="col-xs-6">
                    <input type="submit" class="btn btn-danger pull-right" value="Save"/>
                </div>
                </div>
            </form>
        </div>
    </div>
</html>
